body {
    background-color:khaki;
}

h1, h2, h4, p {
    text-align: center;
    color: orangered;
}

img {
    width: 15%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

table {
    border: 1px solid black;
    /* border-collapse: collapse; */
}

#breakfast-header {
    color: #109cc6;
}

#lunch-header {
    color: RGB(64, 199, 66);
}

#dinner-header {
    color: HSL(300, 85%, 42%);
}